<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/furnitures.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap"
        rel="stylesheet">
    <title>Moveis</title>
</head>

<body>
    <div id="container">
        <header>
            <img src="../../public/images/logo.svg" id="logo">
            <input type="checkbox" id="bt_menu" />
            <label for="bt_menu">&#9776;</label>
            <nav>
                <ul>
                    <li>
                        <a href="url"><img src="../../public/images/home-icon.svg">
                            <spam>Home</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/movel-icon.svg">
                            <spam>Moveis</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/designer-icon.svg">
                            <spam>Designer</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/reforma-icon.svg">
                            <spam>Reforma</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/locacao-icon.svg">
                            <spam>Locação</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/contato-icon.svg">
                            <spam>Contato</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/perfil-icon.svg">
                            <spam>Perfil</spam>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>MOVEIS</h1>
            <hr>
            <div class="search-container">
                <img src="../../public/images/search-icon.svg">
                <input type="text" placeholder="Pesquisar...">
            </div>
            <div class="filter-container">
                <a href="">TODOS    </a>
                <a href="">AMBIENTES    </a>
                <a href="">APARADOR    </a>
                <a href="">CADEIRAS    </a>
                <a href="">CREDENZA    </a>
                <a href="">ESCRIVANINHA    </a>
                <a href="">ESTANTE    </a>
                <a href="">MESA LATERAL    </a>
                <a href="">MESA ALTA    </a>
                <a href="">MESA DE CENTRO    </a>
                <a href="">OBJETOS    </a>
                <a href="">POLTRONAS    </a>
                <a href="">SOFÁS    </a>
            </div>
        </main><br><br>
        <section>
            <div class="furnitures-container">
                <div>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                    <fieldset>
                        <article>
                            <div class="sample-furniture">
                                <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
                                <p><strong>Ambiente - Poltrona Swift</strong></p>
                                <h3>CADEIRA</h3>
                            </div>
                        </article>
                    </fieldset>
                </div>
        </section>
        <div class="selection-furnitures">
            <nav>
                <li>
                    <div><a href="">1</a></div>
                </li>
                <li>
                    <div><a href="">2</a></div>
                </li>
                <li>
                    <div><a href="">3</a></div>
                </li>
                <li>
                    <div><a href="">4</a></div>
                </li>
                <li>
                    <div><a href="">5</a></div>
                </li>
            </nav>
        </div>
        <footer>
            <div class="main-footer">
                <img src="../../public/images/logo-white.svg" alt="logo">
                <div class="content-footer">
                    <ul>
                        <h2>ATENDIMENTO</h2>
                        <li> Segunda à Sexta - 10h às 20h</li>
                        <li> Sàbado: apenas agendamento.</li>
                    </ul>

                    <ul>
                        <h2>ENDEREÇO|CONTATO</h2>
                        <li>Rua Lira, 159 - Vila Madalena, São Paulo - SP</li>
                        <li>Telefone: +55 (11) 3034-1279</li>
                        <li>Whatsapp: +55 (11) 95607-3034</li>
                        <li>vendas@arquivovivomoveis.com.br</li>
                    </ul>

                    <ul>
                        <h2>PÁGINAS</h2>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Moveís</a></li>
                        <li><a href="#">Designers</a></li>
                        <li><a href="#">Reforma</a></li>
                        <li><a href="#">Locação</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href="#"><img src="../../public/images/instagram-footer.svg" alt="instagram"></a>
                <a href="#"><img src="../../public/images/facebook-footer.svg" alt="facebook"></a>
            </div>
            <div class="copyright">
                <spam>
                    <p>@Copyright Todos os direitos reservados</p>
                    <p>Desenvolvido por: Proguizo - contato: 11 94270-4521</p>
                </spam>
            </div>
        </footer>
    </div>

</body>



</html>