<!DOCTYPE html>
<html lang="pt">

<head>


    <meta charset="utf-8">
    <title>rr</title>
    <link href="" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/locacao.css">
</head>

<body>

    <div id="container">


        <div class="title">

            <p>LOCAÇÃO</p>
        </div>
        <hr>

        <div class="text1">
            <div class="tex">
                <p>SERVIÇO DE LOCAÇÃO</p>
            </div>
            <p> Contamos com um serviço de locação, destinado para</p>você que deseja organizar eventos, comerciais,
            shows</p>
            <p>e outras modalidades.</p>
        </div>
        <div class="text2">
            <p> Entre em contato conosco pelos meios de</p>
            <p>comunicação ao lado, iremos atendê-lo para que</p>
            <p> consigamos negociar um acordo satisfatório para os</p>
            <p> seus interesses! ;)</p>

        </div>
        <div> 
        <h2>
            <p> CONTATO
            </p>
        </h2>
        <h3>
            <p> <u> contato@reformaflex.com.br</u></p>
            <p><u>https://www.facebook.com/Reformaflex</u></p>
        </h3>
        <h1>
            <p>✔ +55 (11) 5666.6867</p>
            <p>✔ +55 (11) 5631.5527</p>
            <p>✔ +55 (11) 5631.7278</p>
        </h1>
       </div>
    </div>
</body>

</html>