<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/reformas.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap"
        rel="stylesheet">
    <title>Reformas</title>
</head>

<body>
    <div id="container">
        <header>
            <img src="../../public/images/logo.svg" id="logo">
            <input type="checkbox" id="bt_menu" />
            <label for="bt_menu">&#9776;</label>
            <nav>
                <ul>
                    <li>
                        <a href="url"><img src="../../public/images/home-icon.svg">
                            <spam>Home</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/movel-icon.svg">
                            <spam>Moveis</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/designer-icon.svg">
                            <spam>Designer</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/reforma-icon.svg">
                            <spam>Reforma</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/locacao-icon.svg">
                            <spam>Locação</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/contato-icon.svg">
                            <spam>Contato</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/perfil-icon.svg">
                            <spam>Perfil</spam>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <img src="../../public/images/banner-reforma.svg">
        <br>
        <h1>REFORMA</h1>
        <br>
         <HR>
        <div class="batata">
        <div class="reforma-info">
            <h2>REFORMA FLEX</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequuntur vel repudiandae excepturi exercitationem tempora. Doloremque, dolore sed magnam repellendus temporibus voluptate animi sit porro architecto sequi neque quasi dolorem? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis sed quos autem accusamus tenetur optio sunt, velit perferendis enim obcaecati odit fugit pariatur assumenda! Non omnis libero quibusdam optio quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolor perspiciatis nesciunt obcaecati sint at, fugiat ex quis nemo culpa, ipsum et ipsa praesentium eius totam reiciendis in eos laudantium!</p>

        </div>
            
            <div class="contato-reforma">

            <h3>Contato</h3>
            <p><a href="url">contato@reformaflex.com.br</a></p>
            <br>
            <p><a href="url">https//www.facebook.com/ReformaFlex</a></p>
                <br>
                <br>
            <P>+55 (11) 5666-6867</P>
            <br>
            <P>+55 (11) 5631-5527</P>
            <br>
            <P>+55 (11) 5631-7278</P>
           </div>
        </div>
        <footer>
            <div class="main-footer">
                <img src="../../public/images/logo-white.svg" alt="logo">
                <div class="content-footer">
                    <ul>
                        <h2>ATENDIMENTO</h2>
                        <li> Segunda à Sexta - 10h às 20h</li>
                        <li> Sàbado: apenas agendamento.</li>
                    </ul>

                    <ul>
                        <h2>ENDEREÇO|CONTATO</h2>
                        <li>Rua Lira, 159 - Vila Madalena, São Paulo - SP</li>
                        <li>Telefone: +55 (11) 3034-1279</li>
                        <li>Whatsapp: +55 (11) 95607-3034</li>
                        <li>vendas@arquivovivomoveis.com.br</li>
                    </ul>

                    <ul>
                        <h2>PÁGINAS</h2>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Moveís</a></li>
                        <li><a href="#">Designers</a></li>
                        <li><a href="#">Reforma</a></li>
                        <li><a href="#">Locação</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href="#"><img src="../../public/images/instagram-footer.svg" alt="instagram"></a>
                <a href="#"><img src="../../public/images/facebook-footer.svg" alt="facebook"></a>
            </div>
            <div class="copyright">
                <spam>
                    <p>@Copyright Todos os direitos reservados</p>
                    <p>Desenvolvido por: Proguizo - contato: 11 94270-4521</p>
                </spam>
            </div>
        </footer>
    </div>
</body>