<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/view-designer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap"
        rel="stylesheet">
    <title></title>
</head>

<body>

    <div id="container">
        <button> Voltar </button>
        <hr>
        <Div class="designer">
            <img src="../../public/images/eero.svg">
            <div>
            <h1>Eero Santos</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dignissimos commodi animi minus a eum
                reiciendis voluptate ab temporibus blanditiis similique eius eaque, consequatur tempore consectetur! Est
                ab impedit totam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nobis officia, vero
                aut corrupti delectus reiciendis adipisci dicta laborum. Similique delectus atque aliquam voluptates
                possimus ut dicta quos id ipsa?</P>
            <h3>Moveis Disponiveis:10</h3>
            <a href="view-Designers.html">eerosanto@gmail.com</a>
            </div>
        </div>
        <hr>

        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>

        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>

        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>


    </div>
</body>