<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rr</title>
    <link href="" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">
</head>

<body>
    <div id="container">
        <header>
            <img src="../../public/images/logo.svg" id="logo">
            <input type="checkbox" id="bt_menu" />
            <label for="bt_menu">&#9776;</label>
            <nav>
                <ul>
                    <li>
                        <a href="url"><img src="../../public/images/home-icon.svg">
                            <spam>Home</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/movel-icon.svg">
                            <spam>Moveis</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/designer-icon.svg">
                            <spam>Designer</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/reforma-icon.svg">
                            <spam>Reforma</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/locacao-icon.svg">
                            <spam>Locação</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/contato-icon.svg">
                            <spam>Contato</spam>
                        </a>
                    </li>
                    <li>
                        <a href="url"><img src="../../public/images/perfil-icon.svg">
                            <spam>Perfil</spam>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <img class="img-responsive" src="../../public/images/portfolio/imgg.jpg">
        <a href="#" id="img"></a>
        <div class="disp">
            <h2>DISPONÍVEL</h2>
        </div>
        <h3> 1 em estoque</h3>
        <h1>AMBIENTE - II CADEIRAS SAARINEN BASE FIXA, COUCH BARCELONA, MESA DE CENTRO SAARINEN E SOFá F. KNOOL </h1>
        <div class="text2">
            <h3>
                <p> INFORMAÇÕES:</p>
                <li>Cadeiras super confortáveis, um acabamento que vai te impressionar.</li>
                Uma boa pedida para decorar um salão de festas ou até mesmo sua sala de
                estar.</p>
            </h3>
        </div>
        <div class="text3">
            <h4>
                <p> DESIGNER(S): Eero Saarinen, Florence Knoll, Ludwig Mies Van Der Rohe </p>
                <p>CATEGORIA: Ambiente </p>

                <li>Cadeira Saarinem Base Fixa</li>
                <li>Couch Barcelona</li>
                <li>Mesa de Centro Saarinen</li>
                <li>Sofá F. Knool</li>
            </h4>
        </div>
        <div class="text4">
            <h5>
                <p>FAÇA NEGÓCIO:</p>
            </h5>
        </div>
        <div class="line_1"></div>
        <div class="line_2"></div>

        <button class="btn">
            <input type="image" src="../../public/images/portfolio/icoo2.PNG">
        </button>

        <button class="btn2">
            <input type="image" src="../../public/images/portfolio/icoo.PNG">
        </button>

        <button class="btn3">
            <input type="image" src="../../public/images/portfolio/heart.PNG">
        </button>

        <div class="line_1"></div>
        <div class="line_2"></div>
        <footer>
            <div class="main-footer">
                <img src="../../public/images/logo-white.svg" alt="logo">
                <div class="content-footer">
                    <ul>
                        <h2>ATENDIMENTO</h2>
                        <li> Segunda à Sexta - 10h às 20h</li>
                        <li> Sàbado: apenas agendamento.</li>
                    </ul>

                    <ul>
                        <h2>ENDEREÇO|CONTATO</h2>
                        <li>Rua Lira, 159 - Vila Madalena, São Paulo - SP</li>
                        <li>Telefone: +55 (11) 3034-1279</li>
                        <li>Whatsapp: +55 (11) 95607-3034</li>
                        <li>vendas@arquivovivomoveis.com.br</li>
                    </ul>

                    <ul>
                        <h2>PÁGINAS</h2>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Moveís</a></li>
                        <li><a href="#">Designers</a></li>
                        <li><a href="#">Reforma</a></li>
                        <li><a href="#">Locação</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href="#"><img src="../../public/images/instagram-footer.svg" alt="instagram"></a>
                <a href="#"><img src="../../public/images/facebook-footer.svg" alt="facebook"></a>
            </div>
            <div class="copyright">
                <spam>
                    <p>@Copyright Todos os direitos reservados</p>
                    <p>Desenvolvido por: Proguizo - contato: 11 94270-4521</p>
                </spam>
            </div>
        </footer>
    </div>
</body>

</html>