<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/css/view-designer.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/header.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/footer.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap"
        rel="stylesheet">
    <title></title>
</head>

<body>
    <div id="container">
        <header>
            <img src="../../public/images/logo.svg" id="logo">
            <input type="checkbox" id="bt_menu" />
            <label for="bt_menu">&#9776;</label>
            <nav>
                <ul>
                    <li>
                        <a href="index.html"><img src="../../public/images/home-icon.svg">
                            <spam>Home</spam>
                        </a>
                    </li>
                    <li>
                        <a href="furnitures.html"><img src="../../public/images/movel-icon.svg">
                            <spam>Móveis</spam>
                        </a>
                    </li>
                    <li>
                        <a href="designers.html"><img src="../../public/images/designer-icon.svg">
                            <spam>Designers</spam>
                        </a>
                    </li>
                    <li>
                        <a href="reformas.html"><img src="../../public/images/reforma-icon.svg">
                            <spam>Reforma</spam>
                        </a>
                    </li>
                    <li>
                        <a href="locacao.html"><img src="../../public/images/locacao-icon.svg">
                            <spam>Locação</spam>
                        </a>
                    </li>
                    <li>
                        <a href="contato.html"><img src="../../public/images/contato-icon.svg">
                            <spam>Contato</spam>
                        </a>
                    </li>
                    <li>
                        <a href="perfil.html"><img src="../../public/images/perfil-icon.svg">
                            <spam>Perfil</spam>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <button onClick="history.go(-1)"><img src="../../public/images/arrow.svg" alt="arrow"></button>
        <hr>
        <div class="designer">
            <div class="image">
            <img src="../../public/images/eero.jpg">
        </div>
            <div>
                <h1>EERO SAARINEN</h1><br>
                <P>
                    Foi um famoso arquiteto finlandês. Era filho do arquiteto finlandês Eliel Saarinen e emigrou para os
                    Estados Unidos em 1923,estudou arquitetura na Universidade de Yale.
                </P>
                <p>Saarinen desenvolveu uma gama notável que dependia de cor, forma e materiais. Saarinen mostrou uma
                    dependência acentuada em estruturas inovadoras e formas esculturais,
                    mas não ao custo de considerações pragmáticas,utilizando um vocabulário de curvas e formas
                    suspensas.
                </P><br><br><br>
                <p>MÓVEIS DISPONÍVEIS:10</p>
                <p>CATEGORIAS: <a href="#">Ambiente</a>, <a href="#">Mesa Alta</a>, <a href="#">Mesa Lateral</a></p>

            </div>
        </div>
        <hr>
<div class="designer-furnitures">
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>
    <div class="inline">
        <div class="projetos">
            <div style="background-image: url(../../public/images/cadeira2.jpg);"></div>
            <p><strong>Ambiente - Poltrona Swift</strong></p>
            <h3>CADEIRA</h3>
        </div>
    </div>s
</div>
        <footer>
            <div class="main-footer">
                <img src="../../public/images/logo-white.svg" alt="logo">
                <div class="content-footer">
                    <ul>
                        <h2>ATENDIMENTO</h2>
                        <li> Segunda à Sexta - 10h às 20h</li>
                        <li> Sàbado: apenas agendamento.</li>
                    </ul>

                    <ul>
                        <h2>ENDEREÇO|CONTATO</h2>
                        <li>Rua Lira, 159 - Vila Madalena, São Paulo - SP</li>
                        <li>Telefone: +55 (11) 3034-1279</li>
                        <li>Whatsapp: +55 (11) 95607-3034</li>
                        <li>vendas@arquivovivomoveis.com.br</li>
                    </ul>

                    <ul>
                        <h2>PÁGINAS</h2>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Moveís</a></li>
                        <li><a href="#">Designers</a></li>
                        <li><a href="#">Reforma</a></li>
                        <li><a href="#">Locação</a></li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <a href="#"><img src="../../public/images/instagram-footer.svg" alt="instagram"></a>
                <a href="#"><img src="../../public/images/facebook-footer.svg" alt="facebook"></a>
            </div>
            <div class="copyright">
                <spam>
                    <p>@Copyright Todos os direitos reservados</p>
                    <p>Desenvolvido por: Proguizo - contato: 11 94270-4521</p>
                </spam>
            </div>
        </footer>
    </div>
</body>