<!DOCTYPE html>

<html lang="pt" > 
    <head>
       
      
        <meta charset="utf-8">

       
        <title>rr</title>
        
       
        <link href="" rel="stylesheet" type="text/css">
		
      
        <link rel="stylesheet" href="css/main.css">
      
     
		
		
		
       
		
    </head>
	
    <body>
        <div  id="container">
     
                    <img class="img-responsive" src="img/portfolio/imgg.jpg" >
            
                  
                    <a href="img/portfolio/imgg.jpg" id="img" ></a>
					
                   
               
            <div class="disp"><h2>DISPONÍVEL</h2></div> 
			




	     <h6> 1 em estoque</h6>
                       
                    
	    
              <h1>AMBIENTE - II CADEIRAS SAARINEN BASE FIXA, COUCH BARCELONA, MESA DE CENTRO SAARINEN E SOFá F. KNOOL <h1>  
		
		
        <div class="text2"> <h3> <p> INFORMAÇÕES:</p> <li>Cadeiras super confortáveis, um acabamento que vai te impressionar.</li>
Uma boa pedida para decorar um salão de festas ou até mesmo sua sala de
estar.</p></h3> 
         </div>
		 

        <div class="text3"><h4><p> DESIGNER(S): Eero Saarinen, Florence Knoll, Ludwig Mies Van Der Rohe  </p> 
<p>CATEGORIA: Ambiente </p> 

 <li>Cadeira Saarinem Base Fixa</li>
<li>Couch Barcelona</li>
<li>Mesa de Centro Saarinen</li>
<li>Sofá F. Knool</li></h4> 
        
</div>


 <div class="text4"><h5><p>FAÇA NEGÓCIO:</p> </h5> </div>
 
 
 
               <div class="line_1"></div>
               
			   <div class="line_2"></div>
 
                           <button class="btn">
                                <input type="image" src="img/portfolio/icoo2.PNG">
                                </button>
                                
                                
                                <button class="btn2">
                                    <input type="image" src="img/portfolio/icoo.PNG">
                                    </button>

    <button class="btn3">
        <input type="image" src="img/portfolio/heart.PNG">
        </button>
 
        <div class="line_1"></div>
               
			   <div class="line_2"></div>

     
      
        
       
    
    
    </body>
</html>
