:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    font-family: Raleway, 'sans-serif';
}
body{
    background: var(--color-silver);
}
