:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    font-family: Raleway, 'sans-serif';
}
body{
    background: var(--color-silver);
}

#container h1{
    margin: 2rem 5rem 1.5rem 5rem;
    color:#2f2e2e;
    font-size: 3.6rem;
    font-family: Raleway, 'Sans Serif';
}

#container hr{
    background-color: black;
    margin: 0 5rem;

}
#container .search-container{
    background: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    border: black 1px solid;
    margin-top: 1.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

#container .search-container img{
    width: 42px;
}
#container .search-container input{
    height: 32px;
    width: 80%;
    border: none;
    font-size: 18px;
    font-family: Raleway, "Sans Serif";
}
#container .search-container input:focus{
    outline: 0;
}
#container section{
    margin-top: 1rem;
}
#container section .designer{
    margin: 3rem 5rem 5rem;
    background: var(--color-white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}
#container section .designer img{
    height: 20rem;
}
#container section .designer .information-designer .title{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
#container section .designer .information-designer .description{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.5;

}
#container section .designer .information-designer a{
    font-size: 1.8rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #07A592;
    font-weight: 700;
    margin-top: 1rem;
}
#container section .selection-furnitures  nav{
    display: flex;
    justify-content: center;
   }
   #container section .selection-furnitures  li{
       list-style: none;
       text-align: center;
       margin-top: 30px;
       display:center;
   }
   
   #container section .selection-furnitures  li  div{
   
       background-color:var(--color-white);
       border-radius:50%;
       height:3.0rem;
       width:3.0rem;
       display:flex;
       justify-content: center;
       align-items: center ;
       margin-right:1.5rem;
       
   }
   
   #container section .selection-furnitures  li  a{
       text-decoration: none;
       color:var(--color-black);
       font-size: 2.0rem;
       font-family: Raleway, "Sans Serif";
       margin: 1.5rem;
       font-weight: bolder;
   }
   
@media (min-width: 1080px){
    #container section .designer{
        display: flex;
        flex-direction: row;
    }
    #container section .designer img{
        height: 100%;
        align-self: center;
    }
    #container section .designer .information-designer{
        margin: 0 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #container section .designer .information-designer .title{
        font-size: 2.4rem;
        text-align: left;
        display: flex;
        flex-direction: row;
    }
    #container section .designer .information-designer .description{
        font-size: 2.4rem;
        text-align: justify;
    }
    #container section .designer .information-designer a{
        font-size: 3rem;
        text-align: right;
    }
    
}