:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway, 'Sans Serif';
}

body{
    background: var(--color-silver);
}

#container h1{
    margin: 2rem 0 1.5rem 1.5rem;
    color:#2f2e2e;
    font-size: 3.6rem;
    font-family: Raleway, 'Sans Serif';
}

#container hr{
    background-color: black;
    margin: 0 1.5rem;

}
#container .search-container{
    background: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    border: black 1px solid;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    
}

#container .search-container img{
    width: 42px;
}
#container .search-container input{
    height: 32px;
    width: 80%;
    border: none;
    font-size: 18px;
    font-family: Raleway, "Sans Serif";
}
#container .search-container input:focus{
    outline: 0;
}
#container .filter-container{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
}

#container .filter-container a{
    line-height: 2;
    text-decoration: none;
    color: #171717;
    font-family: Raleway, 'Sans Serif';
    font-size: 1.5rem;
}

#container section .furnitures-container{
   display: flex;
   justify-content: center;
  
}
#container section .furnitures-container div{
    width: auto;
    text-align: center;
}
#container section .furnitures-container fieldset{
    display: inline-block;
    border: none;
    margin-left: 1rem;
    margin-top: 1rem;
    transition: transform .2s;
    cursor: pointer;

}
#container section .furnitures-container fieldset:hover{
    transform: scale(1.1);
}

#container .furnitures-container .sample-furniture{
    width: 100px;
    background: white;
    border-radius: 20px;
}


#container section .furnitures-container .sample-furniture div{
    height: 100px;
    border-radius: 20px;
    background-size: cover

}

#container section .furnitures-container .sample-furniture h3{
    font-family: Raleway, 'Sans Serif';
    text-align: center;
    color: #FF4242;
    margin-top: 15px;
    font-size: 1.2rem;
}
#container section .furnitures-container .sample-furniture p{
    text-align: center;
    font-family: Raleway, 'Sans Serif';
    font-size: 12px;
    margin-top: 4px;
    line-height: 2rem;
    height: 4rem;
    overflow: hidden;

}

#container .selection-furnitures  nav{
 display: flex;
 justify-content: center;
}
#container .selection-furnitures  li{
    list-style: none;
    text-align: center;
    margin-top: 30px;
    display:center;
}

#container .selection-furnitures  li  div{

    background-color:var(--color-white);
    border-radius:50%;
    height:3.0rem;
    width:3.0rem;
    display:flex;
    justify-content: center;
    align-items: center ;
    margin-right:1.5rem;
    
}

#container .selection-furnitures  li  a{
    text-decoration: none;
    color:var(--color-black);
    font-size: 2.0rem;
    font-family: Raleway, "Sans Serif";
    margin: 1.5rem;
    font-weight: bolder;
}




@media (min-width:1080px){
    #container h1{
        margin: 2rem 0 1.5rem 5rem;

    }
    
    #container hr{
        margin: 0 5rem;
    }
    #container .search-container{
        margin-top: 1.5rem;
        margin-right: 5rem;
        margin-left: 5rem;
        
    }

    #container .furnitures-container .sample-furniture{
        width: 240px;
        height: auto;
        background: white;
        border-radius: 20px;
        margin-right: 2.0rem;
        margin-top: 2.0rem;
    }
    
    
    #container section .furnitures-container .sample-furniture div{
        height: 17.0rem;
        border-radius: 2.0rem;
        background-size: cover;
    
    }
    #container section .furnitures-container .sample-furniture h3{
        font-family: Raleway, 'Sans Serif';
        text-align: center;
        color: #FF4242;
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.8rem;
    }
    #container section .furnitures-container .sample-furniture p{
        text-align: center;
        font-family: Raleway, 'Sans Serif';
        font-size: 1.8rem;
        margin-top: 0.4rem;
    }
    #container .filter-container{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    #container .filter-container a{
        transition: .2s;
    }
    #container .filter-container a:hover{
        color: var(--color-gray);
        
    }
}
