/*
CSS responsável pela estilização do include do HEADER
*/

:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}

#container header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10.8rem;
    background: var(--color-white);

}

#container header nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5;
}

#container header nav ul{
    list-style: none;
    position: relative;
    width: 85rem;
}

#container header nav ul li{
    float: left;
    ;
}


#container header nav a{
    font-family: Raleway, 'Sans Serif';
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform .2s;
}
#container header nav a:hover{
    transform: scale(1.1);
}

#container header img{
    margin-left: 3rem;
    align-self: center;
}
#container header label{
    color: #222;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}
   
#container header #bt_menu {
   display: none;
}
   
#container header label{
    display: none;
    justify-self: end;
    align-self: center;
}

@media(max-width: 1080px){
    #container header label{
        display: block;
        margin-top: 2rem;
        margin-right: 1rem;
    }

    #container header #bt_menu:checked ~ nav{
       margin-left: 0;
    }
    #container header img{
        margin-top: 1rem;
    }

    #container header nav{
        margin-left: -300%;
        transition: all .4s;
        justify-self: start;
    }
    #container header nav ul{
        background: #fff;
        margin-top: 1rem;
        width: 20rem;
    }

}




