:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}
*{
    padding: 0;
    margin: 0;
    font-family: Raleway, 'sans-serif';
}
body{
    background: var(--color-silver);
}
#container .image-furniture{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: 
	'a'
	'b';
	justify-content: center;
}
#container .image-furniture p{
	text-align: center;
	font-size: 1.6rem;
	grid-area: a;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#container .image-furniture p span{
	font-weight: 500;
	color:#00DF31
}
 
#container .image-furniture img {
	height: 20rem;
	border-radius: 10px;
}
#container .furniture-informations h1{
	text-align: center;
	margin: 1.5rem 1.5rem 0 1.5rem;
}
#container .furniture-informations .title{
	font-size: 2.4rem;
	color: var(--color-gray-one);
	font-weight: 600;
	margin-left: 1.5rem;
}
#container .furniture-informations p{
	font-size: 1.8rem;
	margin-left: 1.5rem;

}
#container .furniture-informations p a{
	color: #07A592;
}
#container .furniture-informations ul{
	margin-left: 3rem;
	font-size: 1.8rem;
}
#container .furniture-informations .buttons{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}
#container .furniture-informations .buttons .whatsapp{
	border: none;
	font-size: 2.4rem;
	background-color: #25D366;
	font-weight: 700;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 17.9rem;
	padding: 1rem;
	border-radius: 10px;
}

#container .furniture-informations .buttons .gmail{
	border: none;
	font-size: 2.4rem;
	background-color: #4C51C5;
	font-weight: 700;
	color: white;
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 17.9rem;
	padding: 1rem;
	border-radius: 10px;
	justify-content: center;

}