:root {
    font-size: 62.5%;
    --color-black: #000000;
    --color-gray-one: #171717;
    --color-gray-two: #2F2E2E;
    --color-gray: #8B8B8B;
    --color-silver: #EAEAEA;
    --color-white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway, 'Sans Serif';
}
body{
    background-color: var(--color-silver);
}
#container button{
    margin: 2.0rem 0rem 2rem 5rem;
    border: none;
    font-family: Raleway, 'Sans Serif';
    background: none;
}
#container hr{
    background-color:var(--color-black);
    height: 0.1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
#container .designer .image{
    display: flex;
    justify-content: center;
}
#container .designer .image img{
    width: 40rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

}
#container .designer .dname{
    text-align: left;
    margin-top:0.1rem;
    margin-bottom: 1.0rem;
    margin-left: 0;
    font-family: Raleway, 'Sans Serif';


}
#container .designer p{
    font-family: Raleway, 'Sans Serif';
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2.0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
}
#container .designer h3{
    text-align: center;  
    font-size: 1.5rem;
}


#container .designer{
    display:flex;
    flex-direction: column;
}
#container .designer-furnitures .inline {
    display: inline-block;
}

#container .designer-furnitures .inline .projetos{
    width: 130px;
    background: white;
    border-radius: 2.0rem;
    margin-left: 2.0rem;
    margin-top: 2.0rem;
    display: inline-block;
    border: none;
    margin-left: 3.0rem;
    margin-top: 2rem;

}


#container .designer-furnitures .inline .projetos div{
    height: 100px;
    border-radius: 2.0rem;
    background-size: cover;
    
}
#container .designer-furnitures .inline .projetos h3{
    font-family: Raleway, 'Sans Serif';
    text-align: center;
    color: #FF4242;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
#container .designer-furnitures .inline .projetos p{
    text-align: center;
    font-family: Raleway, 'Sans Serif';
    font-size: 12px;
    margin-top: 4px;
}


@media (min-width:1080px ){
    #container hr{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    #container .designer .image{
        display: inline-block;
        margin-left: 5rem;
       
    }


#container .designer{
    display: flex;
    flex-direction: row;
    
}
#container .designer .image img{
    width: 450px;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 5rem;
    

}

#container .designer div {
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 5rem;

}
#container .designer h1{
    text-align: left;
    margin-top:0.1rem;
    margin-bottom: 1.0rem;
    font-size: 2.4rem;
    font-family: Raleway, 'Sans Serif';


}
#container .designer p{
    font-family: Raleway, 'Sans Serif';
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 2.0rem;
    font-size: 1.9rem;
    margin-left: 0;
}
#container .designer p a{
    color: #07A592;
}
#container .designer h3{
    text-align: left;  
    font-size: 1.5rem;
}
#container .designer-furnitures{
    margin-left: 3rem;
    margin-right: 3rem;

}


#container .designer-furnitures .inline .projetos{

    width: 200px;
    height: 285px;
    background: white;
    border-radius: 20px;
    margin-right: 2.0rem;
    margin-left: 2rem;
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr
}


#container .designer-furnitures .inline .projetos div{
    height: 17.0rem;
    border-radius: 2.0rem;
    background-size: cover;

}
#container .designer-furnitures .inline .projetos h3{
    font-family: Raleway, 'Sans Serif';
    text-align: center;
    color: #FF4242;
    margin-top: 1.5rem;
    font-size: 1.8rem;
}
#container .designer-furnitures .inline .projetos p{
    text-align: center;
    font-family: Raleway, 'Sans Serif';
    font-size: 1.8rem;
    margin-top: 0.4rem;
}
#container .designer-furnitures .designer-furnitures{
    margin-left: 2rem;
    margin-right: 2rem;
}
}